[submodule "pack/myplugins/start/ale"]
	path = pack/myplugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "pack/myplugins/start/nerdtree"]
	path = pack/myplugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/myplugins/start/surround"]
	path = pack/myplugins/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/myplugins/start/vim-fugitive"]
	path = pack/myplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/myplugins/start/ctrlp.vim"]
	path = pack/myplugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/myplugins/opt/onedark.vim"]
	path = pack/myplugins/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/myplugins/start/vim-polyglot"]
	path = pack/myplugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/myplugins/start/vim-styled-components"]
	path = pack/myplugins/start/vim-styled-components
	url = https://github.com/styled-components/vim-styled-components
[submodule "pack/myplugins/start/commentary"]
	path = pack/myplugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "pack/myplugins/start/vim-devicons"]
	path = pack/myplugins/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "pack/myplugins/start/tlib_vim"]
	path = pack/myplugins/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "pack/myplugins/start/vim-addon-mw-utils"]
	path = pack/myplugins/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "pack/myplugins/start/vim-snipmate"]
	path = pack/myplugins/start/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "pack/myplugins/start/vim-snippets"]
	path = pack/myplugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
